
# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
plant/
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# MLflow
mlruns/

# Data and models
data/
models/

# Docker artifacts
*.pid
*.db
*.sqlite
*.sock
*.tar
*.tar.gz

# Testing
coverage/
htmlcov/
.pytest_cache/
.cache/

# MyPy
.mypy_cache/

# Prefect
prefect-logs/
